@import '../vendor/normalize_scss/_normalize';
@include normalize();
@import "../vendor/bootstrap/stylesheets/_bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";

@import "./components/_header.scss";
@import "./components/_home.scss";

// import order
// utils, vendor, base, layout, components, pages, themes

.right{
  float: right;
  width: 30%;
  height: 100%;
}


.angular-google-map-container { height: 400px; }

body {
  padding-top: 70px;
}
