<div class="panel-primary">
  <div class="panel-heading">
  </div>
  <div class="panel-body">

    <ol type="A" class="event-list">
      <li ng-repeat="event in $ctrl.events | limitTo:$ctrl.limit">
        <h3>
          Name: {{event.name}}
          <button class="btn-xs btn-primary fa fa-angle-double-down" ng-show="!divShow" ng-click="divShow = !divShow"></button>
          <button class="btn-xs btn-primary fa fa-angle-double-up" ng-show="divShow" ng-click="divShow = !divShow"></button>

          <h3>
            <div ng-show="divShow">

              <h5> Location: {{ event.location }}</h5>
              <h5> Description: {{ event.description }}</h5>
              <!-- <h5> Date: {{ event.date }}</h5> -->
              <h5> Event Start: {{ event.eventStart }}</h5>
              <h5> End End: {{ event.eventEnd }}</h5>
              <h5> Event Creator: {{ event.username }} | <a ng-click="$ctrl.followUser(event.username)"> Follow me! </a></h5>
              <br />

              <ul>
                <li ng-repeat="comment in event.comments">
                  <p>
                    {{comment}}
                  </p>
                </li>
              </ul>

              <form class="form" ng-submit="$ctrl.addComment(event._id, $ctrl.comment)" ng-model="$ctrl.comment">
                <div class="form-group">
                  <label for="comment"> Add a new comment </label>
                  <input required class="form-control" type="text" placeholder="comment" ng-model="$ctrl.comment.comment"></input>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>


          </div>
        </li>
      </ol>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary fa fa-caret-down" ng-if="$ctrl.limitReached" ng-click="$ctrl.incrementLimit()"></button>
    <button class="btn btn-primary fa fa-caret-up" ng-if="$ctrl.limitReached" ng-click="$ctrl.decrementLimit()"></button>
  </div>
</div>
