$primary: #bc1f2a;
$secondary: #8fae56;
$tertiary: #3a7dd1;
$light: #f5faff;
$dark: #431f00;

$disabled: #777;
$focus: #7a7aff;
$active: #fa77fa;
$dark: #2e0c00;
$dark-blue: #00132e;

$font-sans: 'Raleway', sans-serif;
$font-serif: 'Quattrocento', serif;
