$app-primary: #465E73;
$app-secondary: #546d83;
$app-tertiary: #647d93;
$app-disabled: #777;
$app-focus: #7a7aff;
$app-active: #fa77fa;
$app-outline: #2e0c00;

$app-font-sans: 'Raleway', sans-serif;
$app-font-serif: 'Lora', serif;
