<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#/"> Eventure </a></li>
      <li role="presentation"><a href="#/profile"> Profile </a></li>
      <li role="presentation" ng-if="!$ctrl.isLoggedIn"><a href="#/signup"> Sign-up </a></li>

      <form class="navbar-form navbar-right" ng-if="!$ctrl.isLoggedIn" ng-submit="$ctrl.userLogIn($ctrl.user)">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="$ctrl.user.username" placeholder="Username...">
          <input type="password" class="form-control" ng-model="$ctrl.user.password" placeholder="Password...">
        </div>
        <button type="submit" class="btn btn-default"> Sign-in </button>
      </form>

      <button type="button" ng-if="$ctrl.isLoggedIn" ng-click="$ctrl.userLogOut()" class="btn btn-default navbar-right"> Log-out </button>
      <p class="navbar-text" ng-if="$ctrl.isLoggedIn"> Signed in as {{ $ctrl.currentUser.name }} </p>

    </ul>
  </div>
</nav>
