<nav>
  <ul>
    <li role="presentation">
      <a href="#/"> <img src="../../resources/logo-full.png" /> </a>
    </li>
    <li role="presentation" ng-if="$ctrl.userInfo.isLoggedIn"><a class="icon fa-user" href="#/profile">Profile</a></li>
    <li role="presentation" ng-if="$ctrl.userInfo.isLoggedIn"><a class="icon fa-calendar-plus-o" href="#/event">Create Event</a></li>
    <li role="presentation" ng-if="!$ctrl.userInfo.isLoggedIn"><a href="#/signup">Sign-up</a></li>
  </ul>

  <div class="user">

    <form ng-if="!$ctrl.userInfo.isLoggedIn" ng-submit="$ctrl.userLogIn($ctrl.user)">
      <input required type="text" class="" ng-model="$ctrl.user.username" placeholder="Username...">
      <input required type="password" class="" ng-model="$ctrl.user.password" placeholder="Password...">
      <button type="submit" class=""> Sign-in </button>
    </form>

    <h5 class="" ng-if="$ctrl.userInfo.isLoggedIn">
      <a href="#/profile">{{ $ctrl.userInfo.user.username }}
        <img ng-src="{{$ctrl.userInfo.user.profilePic}}" max-width="150px" max-height="150px">
      </a>
      <a class="sign-out-icon" ng-click="$ctrl.userLogOut()">Sign Out </a>
    </h5>


  </div>
</nav>
