<nav class="nav">
  <ul>
    <li class="logo">
      <a href="#/"> <img src="../../resources/logo-full.png" /> </a>
    </li>
    <li role="presentation" ng-if="$ctrl.userInfo.isLoggedIn"><a class="screen-large icon fa-calendar-plus-o" href="#/event">Create Event</a></li>
    <li role="presentation" ng-if="!$ctrl.userInfo.isLoggedIn"><a class="screen-large icon fa-user-plus" href="#/signup">Sign-up</a></li>
  </ul>

  <div class="user">

    <form class="screen-large" ng-if="!$ctrl.userInfo.isLoggedIn" ng-submit="$ctrl.userLogIn($ctrl.user); $ctrl.user = null">
      <input required type="text" class="" ng-model="$ctrl.user.username" placeholder=" Username">
      <input required type="password" class="" ng-model="$ctrl.user.password" placeholder=" Password">
      <button type="submit" class="sign-in-icon"> Sign-in </button>
    </form>

    <ul>
      <li role="presentation" ng-if="$ctrl.userInfo.isLoggedIn">
        <a class="screen-small icon fa-calendar-plus-o" href="#/event"></a>
      </li>
      <li role="presentation" ng-if="!$ctrl.userInfo.isLoggedIn">
        <a class="screen-small icon fa-user-plus" href="#/signup"></a>
      </li>
      <li role="presentation" ng-if="!$ctrl.userInfo.isLoggedIn">
        <a class="screen-small sign-in-icon" href="#/signin"></a>
      </li>


      <li ng-if="$ctrl.userInfo.isLoggedIn">
        <a href="#/profile">{{ $ctrl.userInfo.user.username }}
          <img ng-src="{{$ctrl.userInfo.user.profilePic}}" max-width="150px" max-height="150px">
        </a>
      </li>
    </ul>
    <!-- <h5 ng-if="$ctrl.userInfo.isLoggedIn">
      <a href="#/profile">{{ $ctrl.userInfo.user.username }}
        <img ng-src="{{$ctrl.userInfo.user.profilePic}}" max-width="150px" max-height="150px">
      </a>
      <span> </span>
      <a class="sign-out-icon" ng-click="$ctrl.userLogOut()">Sign Out </a>
    </h5> -->


  </div>
</nav>
