.navbar {
  margin-top: 0;
  padding-top: 0;
}
.navbar li {
    font-size: 2.0em;
}

.navbar img {
    height: 20pt;
}

h5 {
  padding-right: 10px;
}

.log-out-btn {
    margin-right: 5px;
    margin-top: 5px;
}
