#map {
  box-shadow: 0 .5px 5px .05px rgba(0,19,46,.33);

    position: absolute;
    height: 87%;
    width: 55%;
    margin-left: 1em;
    margin-right: 1em;
}
.list-component {
  float: right;
    right:1em;
    width: 40%;
    height: 87%;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    #map {
        top: 4.5em !important;
        margin: 0 auto;
        height: 18em;
        position: relative;
        width: 90%;
    }
    .list-component{
      float: none;
      right: 0;
      width: 100%;
      position: relative;
      top: 5.5em;
    }

}
