<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading"> Your Events </div>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="event in $ctrl.yourEvents">

            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" ng-click="showDiv = !showDiv" class="btn btn-primary"> Expand </button>
                <button type="button" ng-click="" class="btn btn-danger"> Delete </button>
                | Event name: {{ event.name }}
              </div>
              <ul class="list-group" ng-show="showDiv">
                <li class="list-group-item"> {{ event.location }} </li>
                <li class="list-group-item"> {{ event.description }} </li>
              </ul>
            </div>

          </li>
        </ul>
      </div>
    </div>
    
    <div class="col-sm-4">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"> User Information </h3>
        </div>
        <div class="panel-body">

          <p>
            Name: {{ $ctrl.userInfo.user.name }}
          </p>
          <hr>

          <p>
            Email: {{ $ctrl.userInfo.user.email }}
          </p>
          <hr>

          <p>
            Your friends: {{ $ctrl.userInfo.user.following }}
          </p>
        </div>
      </div>

      <a href="#/event"><h3> Create new event </h3></a>

    </div>
  </div>
</div>
