<div class="container">
  <a href="#/event"><h3> Create new event </h3></a>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> User Information </h3>
  </div>
  <div class="panel-body">

    <p>
      Name: {{ $ctrl.userInfo.user.name }}
    </p>
    <hr>

    <p>
      Email: {{ $ctrl.userInfo.user.email }}
    </p>
    <hr>

    <p>
      Your friends: {{ $ctrl.userInfo.user.following }}
    </p>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading"> Your Events: </div>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="event in $ctrl.yourEvents"> Event name: {{ event.name }}  </li>
  </ul>
</div>
