<form class="" ng-submit="$ctrl.userSignUp($ctrl.user)" ng-model="$ctrl.user">
  <input required class="" type="text" placeholder=" Name" ng-model="$ctrl.user.name"></input>
  <input required class="" type="text" placeholder=" Username" ng-model="$ctrl.user.username"></input>
  <input required class="" type="email" placeholder=" Email" ng-model="$ctrl.user.email"></input>
  <input required class="" type="password" placeholder=" Password" ng-model="$ctrl.user.password"></input>
  <input class="" type="text" placeholder=" Url for Profile Picture" ng-model="$ctrl.user.profilePic"></input>
  <button class="" type="submit"> Sign Up </button>
</form>
