<div class="signup-form">
  <h1>Create a New User</h1>
  <form ng-submit="$ctrl.userSignUp($ctrl.user)" ng-model="$ctrl.user">
    <label for="name">Name</label>
    <input required type="text" ng-model="$ctrl.user.name"></input>
    <label for="username">Username</label>
    <input required type="text" ng-model="$ctrl.user.username"></input>
    <label for="password">Password</label>
    <input required type="password" ng-model="$ctrl.user.password"></input>
    <label for="email">Email</label>
    <input class="input-email" required type="email" ng-model="$ctrl.user.email"></input>
    <label for="url">Url for Profile Picture</label>
    <input class="input-url" type="text" ng-model="$ctrl.user.profilePic"></input>
    <div class="center">
      <button class="form-complete-icon" type="submit"> Sign Up </button>
    </div>
  </form>
</div>
